/bin
/gen
/*/*/bin
/NotePad/bin/
/**/*/bin
/mcomponent/HongyunBasic/bin
/mcomponent/HongyunBasic/gen
/bitmapfun/bin
/bitmapfun/gen
/bitmapfun/.classpath
/bitmapfun/.project

/FragmentBasics/bin
/FragmentBasics/gen
/**/bin
/**/gen
/bitmap2/gen
/bitmap2/bin
