<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hongyunbasic"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="test_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.animation.TestAnimation"
            android:label="test_animation" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>

            -->
        </activity>
        <activity
            android:name="test.animation.TestAnimation1"
            android:label="test_animation" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>

            -->
        </activity>
        <activity
            android:name="test.animation.TestAnimation2"
            android:label="test_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.animation.TestAnimation3"
            android:label="test_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.animation.TestAnimation4"
            android:label="test_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <!-- ===========================================测试OnDraw方法============================================= -->
        <activity
            android:name="test.ondraw.TestSaveAndRestore"
            android:label="test_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.AsyncTask_HandlerThread.RockIt"
            android:label="test_asyncTask_handlerThread" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.scrolllayout.FooScrollTest"
            android:label="test.scrolllayout.FooScrollTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.scrolllayout.PagingViewTest"
            android:label="test.scrolllayout.PagingViewTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.scrolllayout.VerticalScrollBounceViewTest"
            android:label="可以竖直拖动的view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.imageroundcorner.TestImageRoundCorner"
            android:label="TestImageRoundCorner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.alarmmanager.SetupAlarm"
            android:label="TestImageRoundCorner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.topimageswitchview.TestMyControl"
            android:label="TopImageSwitchView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.touchlistener.TestTouchEvent"
            android:label="TestTouchEvent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>

        <receiver android:name="test.broadcastreceiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
                 <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="test.alarmmanager.AlarmReceiver" >
            <intent-filter>
                <action android:name="fuck.fuck.ffff" >
                </action>
            </intent-filter>
        </receiver>

    </application>
</manifest>